* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ----------------------Top_red Bar ------------------------*/
#top_red {
  /* border:1px solid black; */
  color: white;
  display: flex;
  flex-direction: row;
  font-size: xx-small;
  justify-content: space-between;
  background-color: rgb(255, 0, 0);
  align-items: center;
}

#top_red > div:first-child,
#top_red > div:last-child {
  color: white;
  font-size: x-large;
}

#top_red_text > div:nth-child(n + 1) {
  display: none;
}
#top_red_text > div:first-child {
  display: block;
}
/*------------------------ Top_Blue_Bar --------------------*/

#top_blue {
  width: auto;
  display: flex;
  background-color: rgb(17, 53, 94);
}
#top_blue_left {
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px solid  rgb(17, 53, 94);
}
#top_blue_left img,
#top_blue_left a {
  padding-left: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  width: 10%;
}
#top_blue_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: x-small;
  color: white;
}
#top_blue_right a {
  padding-right: 20px;
  font-weight: 600;
  font-size: x-small;
  color: white;
  text-decoration: none;
}

/*------------------------ Pop Up-------------------- */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* ------------Search Bar----------- */

#search_bar {
  border: 1px solid rgb(92, 92, 92);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#search_bar img {
  width: 9%;
}
#search_bar div input {
  border-radius: 50px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(158, 158, 158);
}
#search_bar div {
  width: 70%;
}
#search_bar i {
  font-size: x-large;
  color:  rgb(17, 53, 94);
}

#three_one {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#three_one div{
  margin:10px;
}

#three_one div a{
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
  color:  rgb(17, 53, 94);
}

#three_one div a:hover{
  text-decoration:line-through;
}

#four_one{
  width: 90%;
  margin: auto;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#four_one div{
  margin: 10px;
  padding: 5px;
}
#four_one div:hover{
  border:1px solid black;
}
#four_one div img{
width: 100%;
}
#four_one div p{
  font-size: x-small;
}

#two_one{
  width: 90%;
  margin: auto;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#two_one div{
  margin: 10px;
}
#two_one div:hover{
  border:1px solid black;
}
#two_one div img{
  width: 100%;
}
#two_one div h4{
  margin-left: 20px;
}
#three_one div h3{
  padding-left: 20px;
}
#six_three{
  width:80%;
  margin: auto;
  display: grid;
  border:1px solid rgb(255, 255, 255);
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto;
  gap:5px;
}
#six_three div img{
  width:100%;
}
#six_three div p{
  font-size: x-small;
  color: rgb(150, 150, 150);
  margin-top: 5px;
}
#six_three div{
  text-align: center;
}