      /* Define the modal styles */
      *{
        font-family: sans-serif;
      }
      #modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
        border-radius: 15px;
      }

      /* Define the modal content styles */
      .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(56, 86, 122);
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid white;
      }

      /* Define the close button styles */
      #close-modal {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 36px;
        cursor: pointer;
      }

      /* Hide the modal by default */
      .hidden {
        display: none;
      }

      #open-modal{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        border: none; 
        transition: all 0.5s;  
        font-weight: 600;  
        margin: 20px;   
        border-radius: 15px;
      }

      #open-modal:hover{
        background-color:  rgb(56, 86, 122);
        border-radius: 15px;
        color: white;
        padding: 5px 8px;
      }

      .modal-content>#register{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color:white;
        padding-top: 50px;
        padding-bottom: 50px;
      }


      .modal-content>#register>input{
        margin:10px;
        padding: 5px;
        margin-right: 50px;
        margin-left: 50px;
      }
      .modal-content>#register>#btn{
        color: rgb(56, 86, 122);
        background-color: white;
        font-weight: 600;
        border-radius: 10px;
      }

      .modal-content>#register a{
        /* text-decoration: none; */
        color: white;
        text-decoration: underline;
        font-size: x-small;
      }