
@media only screen and (max-width: 800px) {
    #top_blue_left img{
        width:20%
    }
    #top_blue_left img,#top_blue_left a{
        font-weight: 400;
    }
    #top_blue_right{
        width:50%;
        font-size: xx-small;
        border:1px solid white;
        justify-content: flex-end;
    }

    .dropdown-content .col a{
        padding: 1px;
    }
    .dropdown-content .col {
        justify-content: space-evenly;
        margin:0px;
        padding: 0px;
      }
      .dropdown-content .row {
        margin:2px;
      }
}
